.chart {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 1px;
    position: relative;
}

.barContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    width: 4%;
    position: relative;
}

.bar {
    width: 100%;
    background-color: blue;
    border-radius: 5px 5px 0 0;
}

.labelHour {
    margin-top: 5px;
    font-size: 75%;
    color: #333;
    text-align: center;
}

.label {
    position: absolute;
    bottom: 100%;
    margin-bottom: 5px;
    white-space: nowrap;
    font-size: 75%;
    color: #333;
    text-align: center;
}