.container {
    padding: 30px 25px 30px 25px;
}

.navbar {
    list-style: none;
}

.navbarItem {
    text-decoration: none;
    color: black;
}

.navbarItemActive {
    color: white;
    background-color: black;
}

.projectContent {}

.projectTitle {}

.projectList {
    display: flex;
    flex-direction: column;
}

.project {}

.projectActive {
    color: white;
    background-color: black;
}

.user {
    position: absolute;
    bottom: 10px;
    float: right;
}